<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <h1 style="font-weight: bolder">Consignor List</h1>
      </div>
      <div class="col-6" style="text-align: end">
        <button
          style="background-color: #595d94; color: white"
          mat-flat-button
          (click)="createConsignor()"
        >
          Add Consignor
        </button>
      </div>
    </div>

    <!-- <div class="row">
            <div class="col-12">
                <button style="float:right;align-items: flex-end; width: 10%;" mat-flat-button color="primary"
                    (click)="createConsignor()">Add Consignor</button>

            </div>
        </div> -->
    <div class="example-container mat-elevation-z8 mt-3">
      <div class="example-loading-shade"></div>

      <div class="example-table-container">
        <table
          mat-table
          [dataSource]="datasource"
          class="example-table"
          matSort
        >
          <ng-container matColumnDef="consignorName">
            <th mat-header-cell *matHeaderCellDef>Consignor Name</th>
            <td mat-cell *matCellDef="let row">{{ row.consignorName }}</td>
          </ng-container>

          <ng-container matColumnDef="consignorGSTNumber">
            <th mat-header-cell *matHeaderCellDef>Consignor GST Number</th>
            <td mat-cell *matCellDef="let row">{{ row.consignorGSTNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let row">{{ row.address }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="bill(row)">
                <mat-icon aria-label="Edit">Payments</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="editConsignor(row)"
              >
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="openDialog(row)">
                <mat-icon aria-label="Edit">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="resultsLength"
        [pageSizeOptions]="[10, 25, 50, 100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
