<h1 mat-dialog-title class="modalHeader">Trip Transactions
    <p style="float: right;">Total Due Amount :
        <span>{{objData?.pendingAmount}} Rs.</span>
    </p>
</h1>
<div mat-dialog-content>
    <hr>
    <div>

        <!-- <div class="row align-items-center mt-2">
            <div class="col-3">
                <mat-icon color="primary" [ngStyle]="{'cursor':'pointer'}" matTooltip="Create new contact"
                    (click)="addContact()">
                    <span class="material-icons">
                        <span class="material-icons">
                            library_add
                        </span>
                    </span>
                </mat-icon>
            </div>

        </div> -->
        <div class="row">
            <div class="col-2">
                <mat-form-field class="mat-form-field-fluid" style="width:100%" appearance="outline">
                    <mat-label>Total Amount</mat-label>
                    <input matInput [(ngModel)]="totalAmount" [ngModelOptions]="{standalone: true}" autocomplete="off"
                        required>

                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="mat-form-field-fluid" style="width:100%" appearance="outline">
                    <mat-label>Paid Amount</mat-label>
                    <input matInput [(ngModel)]="paidAmount" [ngModelOptions]="{standalone: true}" autocomplete="off"
                        required>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="mat-form-field-fluid" style="width:100%" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker7" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"
                        autocomplete="off" required>
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="mat-form-field-fluid" style="width:100%" appearance="outline">
                    <mat-label>Discription</mat-label>
                    <textarea matInput [(ngModel)]="discription" [ngModelOptions]="{standalone: true}"
                        autocomplete="off">
                                                                                        </textarea>

                </mat-form-field>

            </div>



        </div>
        <div class="row">
            <div class="col-12">
                <div style="float: right;">
                    <!-- <button mat-flat-button style="background-color: red;color:white;" (click)="youGave()">
                        You Gave</button>
                    &nbsp;&nbsp; -->
                    <button mat-flat-button style="background-color: green;color:white;" (click)="paid()">Paid</button>
                </div>
            </div>
        </div>

        <div class="mat-elevation-z8 dt-responsive table-responsive mt-2">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="entries">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Entries</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.date | date:'dd MMM yy, h:mm a'}}<br>
                        {{row.discription}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="paidAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Paid Amount</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.paidAmount}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Total Amount</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.totalAmount}}
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Amount</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput [(ngModel)]="row.amount" [ngModelOptions]="{standalone: true}"
                                autocomplete="off" required>

                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pendingAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Pending Amount</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput [(ngModel)]="row.pendingAmount" [ngModelOptions]="{standalone: true}"
                                autocomplete="off" required>

                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Date</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput [(ngModel)]="row.date" [ngModelOptions]="{standalone: true}"
                                autocomplete="off" required>

                        </mat-form-field>
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action
                    </th>
                    <td mat-cell *matCellDef="let row let i = index;">
                        <button mat-icon-button color="warn" (click)="delete(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>

    </div>
</div>
<div class="mat-dialog-footer">

</div>